<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MethodTrace</key>
	<dict>
		<key>LogLevel</key>
		<integer>0</integer>
		<key>LogWhen</key>
		<integer>0</integer>
		<key>LogRegexString</key>
		<string></string>
		<key>TraceFlag</key>
		<integer>2</integer>
		<key>TraceObject</key>
		<integer>0</integer>
		<key>ClassRegexString</key>
		<string></string>
		<key>CORE_CLASS_LIST</key>
		<dict>
			<key>MDConfigManager</key>
			<dict/>
			<key>MDMethodTrace</key>
			<dict/>
			<key>MDTraceClassInfo</key>
			<dict/>
			<key>FastCoder</key>
			<dict/>
			<key>NSManagedObject</key>
			<dict/>
			<key>NSObject</key>
			<dict/>
			<key>NSException</key>
			<dict/>
			<key>NSTypesetter</key>
			<dict/>
			<key>NSString</key>
			<dict/>
			<key>NSCache</key>
			<dict/>
			<key>NSPlaceholderString</key>
			<dict/>
			<key>__NSCFString</key>
			<dict/>
			<key>NSURL</key>
			<dict>
				<key>TraceMode</key>
				<integer>0</integer>
				<key>MethodBlackList</key>
				<array>
					<string>isKindOfClass:</string>
				</array>
			</dict>
			<key>NSFont</key>
			<dict/>
			<key>OS_object</key>
			<dict/>
			<key>OS_xpc_object</key>
			<dict/>
			<key>OS_dispatch_object</key>
			<dict/>
			<key>OS_dispatch_queue</key>
			<dict/>
			<key>NSSet</key>
			<dict/>
			<key>NSOrderedSet</key>
			<dict/>
			<key>__NSPlaceholderSet</key>
			<dict/>
			<key>__NSPlaceholderOrderedSet</key>
			<dict/>
			<key>NSMutableOrderedSet</key>
			<dict/>
			<key>NSDictionary</key>
			<dict/>
			<key>NSMutableDictionary</key>
			<dict/>
			<key>__NSCFDictionary</key>
			<dict/>
			<key>__NSDictionaryM</key>
			<dict/>
			<key>__NSPlaceholderDictionary</key>
			<dict/>
			<key>NSArray</key>
			<dict/>
			<key>NSMutableArray</key>
			<dict/>
			<key>__NSCFArray</key>
			<dict/>
			<key>__NSArrayM</key>
			<dict/>
			<key>__NSArrayI</key>
			<dict/>
			<key>__NSPlaceholderArray</key>
			<dict/>
			<key>NSDate</key>
			<dict/>
			<key>__NSDate</key>
			<dict/>
			<key>__NSPlaceholderDate</key>
			<dict/>
			<key>NSNumber</key>
			<dict/>
			<key>NSPlaceholderNumber</key>
			<dict/>
			<key>NSPredicate</key>
			<dict/>
			<key>NSRecursiveLock</key>
			<dict/>
			<key>NSConcreteMapTable</key>
			<dict/>
			<key>_UIPointVector</key>
			<dict/>
			<key>NSConcreteHashTable</key>
			<dict/>
			<key>FBSWorkspace</key>
			<dict/>
			<key>FBSSerialQueue</key>
			<dict/>
			<key>BSDescriptionBuilder</key>
			<dict/>
			<key>FBSSceneImpl</key>
			<dict/>
			<key>BSSettings</key>
			<dict/>
			<key>FBSWorkspaceClient</key>
			<dict/>
			<key>AVAudioSession</key>
			<dict/>
		</dict>
		<key>USER_CLASS_LIST</key>
		<dict>
			<key>BaseMsgContentViewController</key>
			<dict>
				<key>TraceMode</key>
				<integer>1</integer>
				<key>TraceFlag</key>
				<integer>0</integer>
				<key>MethodWhiteList</key>
				<array/>
				<key>MethodBlackList</key>
				<array/>
			</dict>
			<key>CMessageMgr</key>
			<dict>
				<key>TraceMode</key>
				<integer>2</integer>
				<key>TraceFlag</key>
				<integer>0</integer>
				<key>MethodWhiteList</key>
				<array>
					<string>AsyncOnAddMsg:MsgWrap:</string>
					<string>onRevokeMsg:</string>
				</array>
				<key>MethodBlackList</key>
				<array/>
			</dict>
		</dict>
	</dict>
	<key>Cycript</key>
	<dict>
		<key>nslog</key>
		<dict>
			<key>LoadAtLaunch</key>
			<true/>
			<key>priority</key>
			<integer>0</integer>
			<key>content</key>
			<string>NSLog = function() { var types = &apos;v&apos;, args = [], count = arguments.length; for (var i = 0; i != count; ++i) { types += &apos;@&apos;; args.push(arguments[i]); } new Functor(dlsym(RTLD_DEFAULT, &quot;NSLog&quot;), types).apply(null, args); }</string>
		</dict>
		<key>ms</key>
		<dict>
			<key>LoadAtLaunch</key>
			<true/>
			<key>priority</key>
			<string>1</string>
			<key>url</key>
			<string>https://raw.githubusercontent.com/AloneMonkey/MDCycript/master/MS.cy</string>
		</dict>
		<key>hook</key>
		<dict>
			<key>LoadAtLaunch</key>
			<true/>
			<key>priority</key>
			<string>2</string>
			<key>content</key>
			<string>try{
  	var oldm = {};
	HookMessage(CustomViewController, @selector(showChangeLog:), function(log) {
    	NSLog(&quot;hooked by cycript!!!&quot;);
    	return oldm-&gt;call(this,log);
	}, oldm);
}catch(err){
  	NSLog(err.toString())
}</string>
		</dict>
		<key>md</key>
		<dict>
			<key>LoadAtLaunch</key>
			<true/>
			<key>priority</key>
			<string>3</string>
			<key>url</key>
			<string>https://raw.githubusercontent.com/AloneMonkey/MDCycript/master/md.cy</string>
		</dict>
	</dict>
</dict>
</plist>
