<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>微信</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>officeopenxml</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.openxml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>data</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ppt</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.ppt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>doc</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>xls</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xls</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>pdf</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>archive</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-tar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>audivideo</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audiovisual-content</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>image</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>txt</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>WeChat</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>dkhelper/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.sinoroad.dkhelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WeChat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tencent.xin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wexinVideoAPI</string>
				<string>weixin</string>
				<string>weixinapp</string>
				<string>fb290293790992170</string>
				<string>wechat</string>
				<string>QQ41C152CF</string>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7.0.2.48</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>16B91</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>12.1</string>
	<key>DTSDKBuild</key>
	<string>16B91</string>
	<key>DTSDKName</key>
	<string>iphoneos12.1</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>FacebookAppID</key>
	<string>290293790992170</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>qqnews</string>
		<string>weixinbeta</string>
		<string>qqnewshd</string>
		<string>qqmail</string>
		<string>whatsapp</string>
		<string>wxwork</string>
		<string>wxworklocal</string>
		<string>wxcphonebook</string>
		<string>mttbrowser</string>
		<string>mqqapi</string>
		<string>mqzonev2</string>
		<string>qqmusic</string>
		<string>tenvideo2</string>
		<string>tenvideohd</string>
		<string>qnreading</string>
		<string>weread</string>
		<string>sosomap</string>
		<string>comgooglemaps</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>sgmap</string>
		<string>fbauth</string>
		<string>wx76fc280041c16519</string>
		<string>wx3bef52104e238bff</string>
		<string>wx369f9a611589ad83</string>
		<string>wx95a3a4d7c627e07d</string>
		<string>wx44b60f3ea0534cd7</string>
		<string>wxacbfe7e1bb3e800f</string>
		<string>wxfdab5af74990787a</string>
		<string>wx58164a91f1821369</string>
		<string>wxd477edab60670232</string>
		<string>wx82dd7436af5db835</string>
		<string>qqstock</string>
		<string>openApp.jdMobile</string>
		<string>openapp.toplife</string>
		<string>qmkege</string>
		<string>mqzonex</string>
		<string>txvp</string>
		<string>sybapp</string>
		<string>wx5a4a8ac0fd48303a</string>
		<string>qqsports</string>
		<string>qqcar</string>
		<string>tencentedu</string>
		<string>wemusic</string>
		<string>qqmap</string>
		<string>mqq</string>
		<string>webank</string>
		<string>weiyun</string>
		<string>weishi</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allow WeChat Use Bluetooth Peripheral.</string>
	<key>NSCameraUsageDescription</key>
	<string>Use your Camera to record video, using VoIP features.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow WeChat Use your Contact.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Allow WeChat Use FaceID.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Allow WeChat Use Health Share.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Allow WeChat Use Health Update.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow WeChat Use your Location always.</string>
	<key>NSLocationUsageDescription</key>
	<string>Allow WeChat Use your Location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow WeChat Use your Location when in use.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Use your Microphone to record voice messages, using VoIP features.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow WeChat Use Motion.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow WeChat Save Photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow WeChat Use your PhotoLibrary.</string>
	<key>NSSiriUsageDescription</key>
	<string>Allow WeChat Use Siri.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.tencent.xin</string>
		<string>com.tencent.xin.watch</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>WeChatSansStd-Bold.ttf</string>
		<string>WeChatSansStd-Medium.ttf</string>
		<string>WeChatSansStd-Regular.ttf</string>
		<string>WeChatSansSuperscript-Bold.ttf</string>
		<string>WeChatSansSuperscript-Regular.ttf</string>
		<string>WeChatSansSuperscript-Medium.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>audio</string>
		<string>fetch</string>
		<string>voip</string>
		<string>remote-notification</string>
		<string>network-authentication</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WeChatBundleVersion</key>
	<string>7.0.2.48</string>
</dict>
</plist>
